@model IEnumerable<Nova.Core.Domain.Question>
@{
    ViewBag.Title = "Question Listing";
}

<h2>Question Listing</h2>

<table class="defaultTable">
    <thead>
        <tr>
            <th>Question</th>
            <th>Keywords</th>
            <th>Default Tag</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    @foreach(var q in Model)
    {
        <tr>
            <td>
                @q.Value
            </td>
             <td>
                @q.Keywords
            </td>
             <td>
                @q.Tags.FirstOrDefault().Value
            </td>
            <td>
                @Html.ActionLink("Overview", "Overview", new {QuestionID = q.Id})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { QuestionID = q.Id })
            </td>
            <td>
                @Html.ActionLink("Respond", "TakeSurvey", new {QuestionID = q.Id})
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.ActionLink("Create Question", "Create")